*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background-color: #1D2128;
    font-family: "Roboto", sans-serif;
}

hr{
    background-color: #E5E5E533;
    border: 1px solid #E5E5E533;
}